$body-color: #fdfae7;

$box-size: 150px;
$box-spacing: 10px;
$box-color: #d2c0b2;

$gameWindow-size: 640px;
$gameWindow-color: #bcaea5;

$font-color: white;
$font-color-dark: #7e817d;

$pastel: #f4e4cd;
$orange: #ff9760;
$red: #ff7c5e;
$yellow: #facd58;